# ========================================
# Configuração do Sistema
# ========================================
SYSTEM_NAME=Desparcele
SYSTEM_VERSION=1.0.0
SYSTEM_DESCRIPTION=Controle de dividas parceladas
SYSTEM_FAVICON=./assets/favicon.ico
SYSTEM_LOGO=./assets/oxygeni.png

# ========================================
# Ambiente — development | production | test
# ========================================
NODE_ENV=development

# ========================================
# Logs
# ========================================
LOG_LEVEL=debug
LOG_PRETTY=true

# ========================================
# Banco de Dados
# ========================================
DB_HOST=localhost
DB_PORT=9867
DB_NAME=desparcele
DB_USER=postgres
DB_PASS=postgres
DB_DIALECT=postgres
DB_DEBUG=false

# ========================================
# Backend
# ========================================
AUTH_SECRET=your_secret_32_chars_minimum_here
AUTH_URL=http://localhost:7250
# NEXTAUTH_URL=http://localhost:7250
# AUTH_TRUST_HOST=true
# HOST=0.0.0.0
PORT=7250

# ========================================
# Autenticação / Documentação
# ========================================
# BASIC_AUTH=false
# AUTH_DOC=false
# DOC_URL=/docs

# ========================================
# JWT - openssl rand -base64 32
# ========================================
JWT_ACCESS_SECRET=your_secret_32_chars_minimum_here
JWT_REFRESH_SECRET=your_secret_32_chars_minimum_here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# ========================================
# Filas
# ========================================
# RABBITMQ_ENABLED=true
# RABBITMQ_PROTOCOL=amqp
# RABBITMQ_HOST=localhost
# RABBITMQ_PORT=9870
# RABBITMQ_USER=admin
# RABBITMQ_PASS=admin123
# RABBITMQ_VHOST=/
# RABBITMQ_PREFETCH=5

# ========================================
# Redis
# ========================================
# REDIS_ENABLED=true
# REDIS_HOST=localhost
# REDIS_PORT=6379
# REDIS_PASSWORD=

# ========================================
# S3
# ========================================
S3_ENABLED=false
# S3_ACCESS_KEY=
# S3_SECRET_KEY=
# S3_BUCKET=
# S3_PORT=9000
# S3_REGION=us-east-1
# S3_ENDPOINT=http://localhost:9000
# S3_USE_SSL=false
# S3_PRESIGN_EXPIRES_IN=3600

# ========================================
# Local Storage
# ========================================
LOCAL_STORAGE_PATH=./storage

# ========================================
# Seed
# ========================================
SEED_MASTER_EMAIL=admin@admin.com
SEED_MASTER_PASSWORD=admin123
SEED_MASTER_NAME=Admin
